form{
    color: blueviolet;
    background-color: rgb(245, 221, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#filtersBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-large;

}
.filters{
    padding: 20px;

}

select{
    color: darkmagenta;
    font-size: x-large;
}
option{
    color: darkmagenta;
    font-size: x-large;
}