<h1>filter</h1>
<form ngForm>

    <div id="filtersBox">
        <div class="filters">
            <label for="orderByProf">profession</label>
            <select  name="profession" id="orderByProf" [(ngModel)]=profession (change)="orderByProf()">
                <option *ngFor="let p of professions" >{{p}}</option>
            </select>
        </div>
    
        <div class="filters">
            <label for="orderByArea">area</label>
            <select name="area" id="orderByArea" [(ngModel)]=area (change)="orderByArea()">
                <option value="jerusalem">jerusalem</option>
                <option value="north"  onclick="orderByArea()">north</option>
                <option value="south"  onclick="orderByArea()">south</option>
            </select>
        </div>

    </div>
    <h2>{{messege}}</h2>

</form>
<h1>your current jobs list</h1>

<app-jobs-list [jobsList]=jobsList></app-jobs-list>