form {
    background-color: aqua;
    color: blue;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        font-size: xx-large;
margin: 10px;
    }

    button {
        padding: 10px;
        margin: 25px;
        font-size: xx-large;

    }
}