#userName{
    color: rgb(6, 159, 164);
    font-size: xx-large;
    font-style: oblique;
}
header{
    color: rgb(6, 159, 164);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(157, 255, 255);
}
.header{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
footer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: cornsilk;
}
#logo{
    width: 100px;
}