<header>
    <h2 class="header" id="userName">🕵🏼‍♂️hello {{userName}}</h2>
    <a  (click)="jobsPage()" class="header">💼profession: {{userProfession}}</a>
    <p class="header" >📃counter of sending resumes: {{resumes}}</p>
    <br>

    <div>
        <a routerLink="/login" routerLinkActive="active" ><img id="logo" src="../../../assets/logo.jpg" alt="login"></a>
    </div>

</header>

<router-outlet></router-outlet>

<footer>
    <h2>contact details</h2>
    <p>📧email: office&#64;findJob.org.il</p>
    <p>☎phone: 0330-525-252</p>
</footer>