<h1>login</h1>
<form ngForm id="loginForm">
    <!-- <div>
        <label for="name">enter id</label>
        <input type="text" id="name" #useName name="userName"
         [(ngModel)]="user.name" #nameModel="ngModel">
    </div>

    <div>
        <label for="password">enter password</label>
        <input type="password"  minlength="8"
        #userPassword id="password" [(ngModel)]="user.userPassword"
         name="userPassword" #userPassword="ngModel">-->
        <!-- <div [hidden]="userPassword.valid||userPassword.pristine">
            name is required
        </div> -->

   <button type="submit" (click)="loginClick()">connect</button>
</form>