<h1>login</h1>
<form ngForm id="loginForm">
    <div>
        <label for="name"></label>
        <input type="text" required name="userName" [(ngModel)]="user.name" #nameModel="ngModel" placeholder="enter name">
    </div>

    <div>
        <label for="password"></label>
        <input type="password" required minlength="8" id="password" [(ngModel)]="user.password" name="userPassword"
            #userPassword="ngModel" placeholder="enter password">

        <!-- <div class="errorMessege" [hidden]="password.valid||password.pristine">
            the password is'nt valid:
            less space and press 8 chars minimum.
        </div> -->
    </div>

    <button type="submit" (click)="loginClick()">connect</button>
</form>