div{
    color: rgb(165, 42, 77);
    background-color: rgb(255, 220, 236);
    font-size: x-large;
    padding: 25px;
    margin: 5px;
}
button{
    margin: 25px;
    color: rgb(165, 42, 77);
    background-color: rgb(255, 255, 255);
    font-size: x-large;
}